body {
    text-align: center;
    font-family: sans-serif;
}

button {
    padding: 8px 15px;
    width: 110px;
    background: #0276b3;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 15px;
}

.content-speech {
    width: 67%;
    text-align: justify;
    margin: 0 auto;
    border: 2px solid rgb(187, 183, 183);
    padding: 15px;
    border-radius: 10px;
    max-height: 320px;
    overflow: auto;
}

#duracion {
    color: #0276b3;
    font-weight: 600;
    font-size: 18px;
}

button:disabled {
    background: gray;
}